.chat-container {
    /* width: 400px; */
    /* margin: 0 auto; */
    /* padding: 20px; */
    /* background-color: #f2f2f2; */
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    
  }
  
  .chat-header {
    font-size: 24px;
    font-weight: bold;
    /* margin-bottom: 50px; */
    text-align: start;
    /* margin-left: 20px; */
    background-color: rgb(196, 195, 195);
    height: 40px;
    margin-top: -50px;
    margin-left: -50px;
    padding-top: 30px;
    padding-left: 20px;
    /* border: 1px solid black; */
    /* background-color: gainsboro; */
    /* border: 1px solid black ; */
    
    

  }

  .border{
    border-bottom-style:solid ;
    border-color: rgb(136, 136, 136);
    margin-left: -350px;
    margin-top: -20px;
    border-width: 2px;

  }
  
  .chat-message {
    margin-bottom: 10px;
    /* background-color: #e2f7fd; */
    padding: 8px;
    border-radius: 20px;
    background-color: #4877ac ;
    color: white;
    height: 30px;
    padding-top: 15px;
    width: fit-content;
    margin-top: 20px;

  }

  .chatitem{
    background-color:white;
    height: 450px;
    overflow-y: auto;
    /* margin-right: 900px; */
    width: fit-content;
  margin-inline-start: 800px;
  margin-inline-end: 800px;
    

  }
  
  .chat-input {
    width: 920px;
    /* padding: 8px; */
    /* border: 1px solid #ccc   ; */
    /* border-radius: 4px; */
    border-style: none;

    height: 80px;
    font-size: larger;
    margin-left: -50px;
    padding-left: 30px;
    

  }
  .chat-input:hover{
    border-style: none;
    border-color: white;
    border: none;
    
  }
  .secborder{
    border-top-style:solid ;
    border-color: rgb(136, 136, 136);
    margin-left: -350px;
    margin-top:5px;
    border-width: 2px;

  }
  
  .send-button {
    background-color: #4877ac;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    /* border-radius: 4px; */
    cursor: pointer;
    width: 165px;
    height: 83px;
  }
  
  .chat-form {
    display: flex;
    margin-top: px;
    /* position: fixed; */
  }
  
  .allitem{
    margin-left: 330px;
    margin-top: -610px;
  }

  .users{
    background-color:#4877ac;
    width: 280px;
    height: 610px;
    margin-top: -23px;
  }

  .users h1{
    color: white;
    text-align: center;
    padding-top: 20px;
  }
